<plugin name='javafx' version='0.3' griffonVersion='0.9.4 &gt; *' jdk='1.5'>
  <author>Dean Iverson</author>
  <authorEmail>deanriverson@gmail.com</authorEmail>
  <title>Griffon JavaFX Plugin</title>
  <description>This plugin allows you to write JavaFX applications using the Griffon framework.</description>
  <documentation>http://griffon.codehaus.org/Javafx+Plugin</documentation>
  <license>Apache Public License 2.0</license>
  <toolkits>javafx</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <plugin name='groovyfx' version='0.2.1' />
  </dependencies>
</plugin>