<plugin name='javafx' version='0.7' griffonVersion='1.0.2 &gt; *' jdk='1.6'>
  <author>Dean Iverson</author>
  <authorEmail>deanriverson@gmail.com</authorEmail>
  <title>Griffon JavaFX Plugin</title>
  <description>This plugin allows you to write JavaFX applications using the Griffon framework.</description>
  <documentation>http://griffon.codehaus.org/Javafx+Plugin</documentation>
  <license>Apache Public License 2.0</license>
  <toolkits>javafx</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <plugin name='groovyfx' version='0.7' />
  </dependencies>
</plugin>